<div class="col-md-10 offset-md-1">
  <div class="card shadow">
    <div class="card-body">
      <nav aria-label="breadcrumb">
        <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item">
            <a itemprop="item" href="/"><span itemprop="name">Início</span></a><meta itemprop="position" content="1" />
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item">
            <a itemprop="item" href="{{base.urlBase}}{{body.estadoUrl}}"><span itemprop="name">{{body.estado}}</span>
            </a><meta itemprop="position" content="2" />
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item">
            <a itemprop="item" href="{{base.urlBase}}{{body.cidadeUrl}}"><span itemprop="name">{{body.cidade}}</span>
            </a><meta itemprop="position" content="3" />
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item">
            <a itemprop="item" href="{{base.urlBase}}{{body.bairroUrl}}"><span itemprop="name">{{body.bairro}}</span>
            </a><meta itemprop="position" content="4" />
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item active" aria-current="page">
            <a itemprop="item" href="{{base.urlAtual}}"><span itemprop="name">{{body.nomeFormatado}}</span></a><meta itemprop="position" content="5" />
          </li>
        </ol>
      </nav>
      <div class="row">
        <div itemscope itemtype="http://schema.org/Dataset" class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
        {{!--
        <div itemscope itemtype="http://schema.org/Dataset" class="col-md-6 col-xs-12 col-sm-6 col-lg-6">
        --}}
          <h1 itemprop="name">CEP: {{body.cep}}</h1>
          <span itemprop="description">
            <h2>{{body.nome}}</h2>
              {{#if body.grandeUsuario}}
              <h3>{{body.grandeUsuario}}</h3>
              {{/if}}
              <h3>Bairro: <a href="{{base.urlBase}}{{body.bairroUrl}}">{{body.bairro}}</a></h3>
              <h3>Cidade: <a href="{{base.urlBase}}{{body.cidadeUrl}}">{{body.cidade}}</a></h3>
              <h3>Estado: <a href="{{base.urlBase}}{{body.estadoUrl}}">{{body.estado}}</a></h3>
          </span>
         </div>
        <div class="col-md-6 col-xs-12 col-sm-6 col-lg-6">
         {{!--
          <div class="google-maps">
            <iframe width="400" height="350" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBm-NEH1WSCU5oeTOcAP4_Eodu2R1PSQO4&amp;q={{body.nomeFormatado}} - {{body.cidade}} - {{body.estado}}, Brasil" allowfullscreen></iframe>
            </div>
          --}}
        </div>
        
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Muno - Cep após mapa -->
          <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-6380398318603111"
                data-ad-slot="4781364841"
                data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
          <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
              <h5>enviar para</h5>
              <a href="whatsapp://send?text={{base.urlAtual}}" class="btn btn-raised btn-primary"> WhatsApp</a>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{base.urlAtual}}" target="_blank" class="btn btn-raised btn-primary"> Facebook</a>
          </div>
          </div>
    </div>
  </div>
    <div class="card shadow" style="margin-top: 20px">
      <div class="card-header">
        Ceps Próximos
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col">Ceps</th>
              </tr>
            </thead>
            <tbody>
          {{#each body.cepsproximos}}
              <tr>
                <td><a href="{{base.urlBase}}/{{url}}">{{logradouroNome}}</a></td>
              </tr>
          {{/each}}
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>