<div class="col-md-10 offset-md-1">
  <div class="card shadow">
    <div class="card-body">
      <nav aria-label="breadcrumb"></nav>
        <ol itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item">
            <a itemprop="item" href="/"><span itemprop="name">Início</span></a><meta itemprop="position" content="1" />
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item">
            <a itemprop="item" href="{{base.urlBase}}{{body.estadoUrl}}"><span itemprop="name">{{body.estado}}</span></a><meta itemprop="position" content="2" />
          </li>
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item active" aria-current="page">
            <a itemprop="item" href="{{base.urlAtual}}"><span itemprop="name">{{body.nome}}</span><meta itemprop="position" content="3" /></a></li>
        </ol>
      </nav>
      <div class="row">
        <div itemscope itemtype="http://schema.org/Dataset" class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
          <h1 itemprop="name">Cidade: {{body.nome}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Muno - Cep após mapa -->
          <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-6380398318603111"
                data-ad-slot="4781364841"
                data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>
  </div>
  
 {{#if body.bairros}}
  <div class="card shadow" style="margin-top: 20px">
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Bairro</th>
          </tr>
        </thead>
        <tbody>
      {{#each body.bairros}}
          <tr>
            <td><a href="{{base.urlBase}}/{{url}}">{{nome}}</a></td>
          </tr>
      {{/each}}
        </tbody>
      </table>
    </div>
  </div>
{{/if}}

 {{#if body.ceps}}
  <div class="card shadow" style="margin-top: 20px">
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Cep</th>
            <th scope="col">Descrição</th>
          </tr>
        </thead>
        <tbody>
      {{#each body.ceps}}
          <tr>
            <td>{{cep}}</td>
            <td>
            {{#if grandeUsuario}}
              {{grandeUsuario}}
            {{else}}
              Cep da Cidade
            {{/if}}
            </td>
          </tr>
      {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{/if}}