<div class="col-md-8 offset-md-2">
  <div class="card shadow">
    <div class="card-header">
      Início
    </div>
    <div class="card-body">
      {{#if erroEndereco}}
        <div class="alert alert-danger" role="alert">
          Nenhum registro encontrado para {{erroEndereco}}. Tente novamente.
        </div>
      {{/if}}
      {{#if erroTamanho}}
        <div class="alert alert-primary" role="alert">
          A pesquisa para {{erroTamanho}} precisa ter pelo menos 5 caracteres.
        </div>
      {{/if}}
      <h1 class="card-title">O que você procura?</h1>
      {{!--
      <p class="card-text">Qual CEP/Cidade/Bairro/Endereço deseja pesquisar?</p>
      --}}
      <form method="POST" action="/pesquisar">
        <div class="form-group">
          <label for="endereco">Qual CEP/Cidade/Bairro/Endereço deseja pesquisar?</label>
          <input type="text" class="form-control" id="endereco" name="endereco" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
      </form>
    </div>
  </div>
  <div class="card shadow" style="margin-top: 20px;">
    <div class="card-header">
      Região Norte
    </div>
    <div class="card-body">
      <div class="list-group">
        <a href="{{urlBase}}cep/ac" class="list-group-item list-group-item-action">Acre</a>
        <a href="{{urlBase}}cep/am" class="list-group-item list-group-item-action">Amazonas</a>
        <a href="{{urlBase}}cep/ap" class="list-group-item list-group-item-action">Amapá</a>
        <a href="{{urlBase}}cep/pa" class="list-group-item list-group-item-action">Pará</a>
        <a href="{{urlBase}}cep/ro" class="list-group-item list-group-item-action">Rondônia</a>
        <a href="{{urlBase}}cep/rr" class="list-group-item list-group-item-action">Roraima</a>
      </div>
    </div>
  </div>
  <div class="card shadow" style="margin-top: 20px;">
    <div class="card-header">
      Região Nordeste
    </div>
    <div class="card-body">
      <div class="list-group">
        <a href="{{urlBase}}cep/al" class="list-group-item list-group-item-action">Alagoas</a>
        <a href="{{urlBase}}cep/ba" class="list-group-item list-group-item-action">Bahia</a>
        <a href="{{urlBase}}cep/ce" class="list-group-item list-group-item-action">Ceará</a>
        <a href="{{urlBase}}cep/ma" class="list-group-item list-group-item-action">Maranhão</a>
        <a href="{{urlBase}}cep/pa" class="list-group-item list-group-item-action">Paraíba</a>
        <a href="{{urlBase}}cep/pe" class="list-group-item list-group-item-action">Pernambuco</a>
        <a href="{{urlBase}}cep/pi" class="list-group-item list-group-item-action">Piauí</a>
        <a href="{{urlBase}}cep/rn" class="list-group-item list-group-item-action">Rio Grande do Norte</a>
        <a href="{{urlBase}}cep/se" class="list-group-item list-group-item-action">Sergipe</a>
      </div>
    </div>
  </div>
  <div class="card shadow" style="margin-top: 20px;">
    <div class="card-header">
      Região Centro Oeste
    </div>
    <div class="card-body">
      <div class="list-group">
        <a href="{{urlBase}}cep/df" class="list-group-item list-group-item-action">Distrito Federal</a>
        <a href="{{urlBase}}cep/go" class="list-group-item list-group-item-action">Goiás</a>
        <a href="{{urlBase}}cep/mt" class="list-group-item list-group-item-action">Mato Grosso</a>
        <a href="{{urlBase}}cep/ms" class="list-group-item list-group-item-action">Mato Grosso do Sul</a>
        <a href="{{urlBase}}cep/to" class="list-group-item list-group-item-action">Tocantins</a>
      </div>
    </div>
  </div>
  <div class="card shadow" style="margin-top: 20px;">
    <div class="card-header">
      Região Sudeste
    </div>
    <div class="card-body">
      <div class="list-group">
        <a href="{{urlBase}}cep/es" class="list-group-item list-group-item-action">Espirito Santo</a>
        <a href="{{urlBase}}cep/mg" class="list-group-item list-group-item-action">Minas Gerais</a>
        <a href="{{urlBase}}cep/rj" class="list-group-item list-group-item-action">Rio de Janeiro</a>
        <a href="{{urlBase}}cep/sp" class="list-group-item list-group-item-action">São Paulo</a>
      </div>
    </div>
  </div>
  <div class="card shadow" style="margin-top: 20px;">
    <div class="card-header">
      Região Sul
    </div>
    <div class="card-body">
      <div class="list-group">
        <a href="{{urlBase}}cep/pr" class="list-group-item list-group-item-action">Paraná</a>
        <a href="{{urlBase}}cep/rs" class="list-group-item list-group-item-action">Rio Grande do Sul</a>
        <a href="{{urlBase}}cep/sc" class="list-group-item list-group-item-action">Santa Catarina</a>
      </div>
    </div>
  </div>
</div>