<!doctype html>
<html lang="en">
  <head>
    {{!-- --}}
    {{!-- Global site tag (gtag.js) - Google Analytics --}}

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84019904-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-84019904-1');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6380398318603111",
        enable_page_level_ads: true
     });
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{base.title}}</title>
    <meta name="description" content="{{base.description}}" >
    <meta property="og:title" content="{{base.title}}">
    <meta property="og:locale" content="pt_BR">
    <meta name="DC.Language" content="pt_BR">
    <meta property="og:type" content="website">
    <meta name="geo.placename" content="Brazil">
    <meta name="geo.region" content="br">

    <meta property="og:description" content="{{base.title}}">
    <meta property="og:url" content="{{base.urlAtual}}">
    <meta property="og:site_name" content="Muno" />
    <meta property="og:image" content="https://muno.com.br/images/munoMapa.jpg" />
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="476">
    <meta property="og:image:height" content="249">
    <meta name="rating" content="general">
    {{!-- Melhoria de SEO --}}
    <link rel="preconnect" href="//adservice.google.com">
    <link rel="preconnect" href="//mts0.google.com">
    <link rel="preconnect" href="//www.googletagmanager.com">
    <link rel="preconnect" href="//www.googletagservices.com">
    <link rel="preconnect" href="//securepubads.g.doubleclick.net">
    <link rel="preconnect" href="//googleads.g.doubleclick.net">
    <link rel="preconnect" href="//tpc.googlesyndication.com">
    <link rel="preconnect" href="//pagead2.googlesyndication.com">
    <link rel="preconnect" href="//stats.g.doubleclick.net">
    <link rel="preconnect" href="//m2d.m2.ai">
    <link rel="preconnect" href="//fonts.gstatic.com">
    <link rel="preconnect" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//googleads.g.doubleclick.net">
    <link rel="dns-prefetch" href="//mts0.google.com">
    <link rel="dns-prefetch" href="//google.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//maps.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="dns-prefetch" href="//images.mapasapp.com">
    <link rel="dns-prefetch" href="//adservice.google.com">
    <link rel="dns-prefetch" href="//www.googletagmanager.com">
    <link rel="dns-prefetch" href="//www.googletagservices.com">
    <link rel="dns-prefetch" href="//securepubads.g.doubleclick.net">
    <link rel="dns-prefetch" href="//pagead2.googlesyndication.com">
    <link rel="dns-prefetch" href="//stats.g.doubleclick.net">
    <link rel="dns-prefetch" href="//ssl.google-analytics.com">
    <link rel="dns-prefetch" href="//m2d.m2.ai">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//tpc.googlesyndication.com">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    {{!-- Favicon de vários tipos --}}
    <link rel="icon" type="image/png" href="https://muno.com.br/munoLogo.png"> 
    {{!--
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    --}}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    {{!--
    <script src="https://kit.fontawesome.com/8fe02e386f.js"></script>
    --}}
  </head>
  <body>
    <style type="text/css">
      body {
        padding-top: 70px;
      }
      .social {
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	box-sizing: border-box;
	text-align: center;
}
.social ul {
	margin: 0;
	padding: 0;
}
.social ul li {
	list-style: none;
	float: left;
	width: calc(100% / 4);
	box-sizing: border-box;
}
.social ul li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #fff;
}
.social ul li a .fa {
	font-size: 30px;
}
.social ul li:nth-child(1) a {
	background: #3b5999;
}
.social ul li:nth-child(2) a {
	background: #14b605;
}
.social ul li:nth-child(3) a {
	background: #dd4b39;
}
.social ul li:nth-child(4) a {
	background: #007785;
}
@media (max-width: 992px) {
	.social ul li {width: calc(100% / 4);}
}

@media (max-width: 768px) {
	.social {width: 100%;}
}

@media (max-width: 480px) {
	.social {margin: 0px auto;}
	.social ul li {width: calc(100% / 4);}
}
@media (max-width: 360px) {
	.social {margin: 0 auto;}
	.social ul li {width: calc(100% / 4);}
}
    </style>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/images/muno.png" width="100" height="35" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          {{!--
          <li class="nav-item">
            <a class="nav-link" href="#">Pesquisar CEP</a>
          </li>
          --}}
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Pesquisar</a>
          </li>
        </ul>
      </div>
      </div>

    </nav>

    <div class="container">
      {{{body}}}
    </div>
    {{#if base.urlAtual}}
      <footer class="fixed-bottom">
        <div class="social">
      <ul>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{base.urlAtual}}"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
        <li><a href="whatsapp://send?text={{base.urlAtual}}"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
        <li><a href="/"><i class="fa fa-search" aria-hidden="true"></i></a></li>
        <li><a href="https://minhaencomenda.net"><i class="fa fa-truck" aria-hidden="true"></i></a></li>
        <div style="clear: both;"></div>
      </ul>
      </div>
      </footer>
    {{/if}}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>

    {{!--
    <script src="/js/jquery-3.4.1.slim.min.js"></script>
    --}}
    {{!--
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
   </body>
</html>
