<div class="col-md-8 offset-md-2">
  <div class="alert alert-danger" role="alert">
  ERRO: Não encontrado!
  </div>
  <div class="card shadow">
    <div class="card-header">
      Pesquise novamente
    </div>
    <div class="card-body">
      <h3 class="card-title">Qual o CEP?</h3>
      {{!--
      <p class="card-text">Qual CEP/Cidade/Bairro/Endereço deseja pesquisar?</p>
      --}}
      <form method="POST" action="/pesquisar">
        <div class="form-group">
          <label for="endereco">Qual CEP/Cidade/Bairro/Endereço deseja pesquisar?</label>
          <input type="text" class="form-control" id="endereco" name="endereco" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
      </form>
    </div>
  </div>

</div>