<div class="col-md-8 offset-md-2">
  <div class="card shadow">
    <div class="card-header">
      Início
    </div>
    <div class="card-body">
      <h3 class="card-title">Qual o CEP?</h3>
      {{!--
      <p class="card-text">Qual CEP/Cidade/Bairro/Endereço deseja pesquisar?</p>
      --}}
      <form method="POST" action="/pesquisar">
        <div class="form-group">
          <label for="endereco">Qual CEP/Cidade/Bairro/Endereço deseja pesquisar?</label>
          <input type="text" class="form-control" id="endereco" name="endereco" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Pesquisar</button>
      </form>
    </div>
  </div>
  <div class="card shadow" style="margin-top: 20px;">
    <div class="card-header">
      Região Norte
    </div>
    <div class="card-body">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Acre</a>
        <a href="#" class="list-group-item list-group-item-action">Amazonas</a>
        <a href="#" class="list-group-item list-group-item-action">Amapá</a>
        <a href="#" class="list-group-item list-group-item-action">Pará</a>
        <a href="#" class="list-group-item list-group-item-action">Rondônia</a>
        <a href="#" class="list-group-item list-group-item-action">Roraima</a>
      </div>
    </div>
  </div>
  <div class="card shadow" style="margin-top: 20px;">
    <div class="card-header">
      Região Nordeste
    </div>
    <div class="card-body">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Alagoas</a>
        <a href="#" class="list-group-item list-group-item-action">Bahia</a>
        <a href="#" class="list-group-item list-group-item-action">Ceará</a>
        <a href="#" class="list-group-item list-group-item-action">Maranhão</a>
        <a href="#" class="list-group-item list-group-item-action">Paraíba</a>
        <a href="#" class="list-group-item list-group-item-action">Pernambuco</a>
        <a href="#" class="list-group-item list-group-item-action">Piauí</a>
        <a href="#" class="list-group-item list-group-item-action">Rio Grande do Norte</a>
        <a href="#" class="list-group-item list-group-item-action">Sergipe</a>
      </div>
    </div>
  </div>
  <div class="card shadow" style="margin-top: 20px;">
    <div class="card-header">
      Região Centro Oeste
    </div>
    <div class="card-body">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Distrito Federal</a>
        <a href="#" class="list-group-item list-group-item-action">Goiás</a>
        <a href="#" class="list-group-item list-group-item-action">Mato Grosso</a>
        <a href="#" class="list-group-item list-group-item-action">Mato Grosso do Sul</a>
        <a href="#" class="list-group-item list-group-item-action">Tocantins</a>
      </div>
    </div>
  </div>
  <div class="card shadow" style="margin-top: 20px;">
    <div class="card-header">
      Região Sudeste
    </div>
    <div class="card-body">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Espirito Santo</a>
        <a href="#" class="list-group-item list-group-item-action">Minas Gerais</a>
        <a href="#" class="list-group-item list-group-item-action">Rio de Janeiro</a>
        <a href="#" class="list-group-item list-group-item-action">São Paulo</a>
        <a href="#" class="list-group-item list-group-item-action">Tocantins</a>
      </div>
    </div>
  </div>
  <div class="card shadow" style="margin-top: 20px;">
    <div class="card-header">
      Região Sul
    </div>
    <div class="card-body">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Paraná</a>
        <a href="#" class="list-group-item list-group-item-action">Rio Grande do Sul</a>
        <a href="#" class="list-group-item list-group-item-action">Santa Catarina</a>
      </div>
    </div>
  </div>
</div>