<div class="col-md-10 offset-md-1">
  {{!-- Se existir Ceps--}}
  {{#ifMaior body.totalCeps 0}}
  <div class="card shadow" style="margin-top: 20px;">
    <div class="card-header">
      Ceps
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">Cep</th>
              <th scope="col">Endereço</th>
              <th scope="col">Bairro</th>
              <th scope="col">Cidade</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
        {{#each body.ceps}}
            <tr>
              <td><a href="{{base.urlBase}}{{url}}">{{cep}}</a></td>
              <td>{{nome}}</td>
              <td>{{bairro}}</td>
              <td>{{cidade}}</td>
              <td>{{estado}}</td>
            </tr>
        {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{/ifMaior}}

  {{!-- Se existir alguma Cidade--}}
  {{#ifMaior body.totalCidades 0}}
  <div class="card shadow" style="margin-top: 20px;">
    <div class="card-header">
      Cidades
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">Cidade</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
        {{#each body.cidades}}
            <tr>
              <td><a href="{{base.urlBase}}{{url}}">{{nome}}</a></td>
              <td>{{estado}}</td>
            </tr>
        {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{/ifMaior}}
  {{!-- Se existir algum Bairro--}}
  {{#ifMaior body.totalBairros 0}}
  <div class="card shadow" style="margin-top: 20px;">
    <div class="card-header">
      Bairros
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">Bairro</th>
              <th scope="col">Cidade</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
        {{#each body.bairros}}
            <tr>
              <td><a href="{{base.urlBase}}{{url}}">{{nome}}</a></td>
              <td>{{cidade}}</td>
              <td>{{estado}}</td>
            </tr>
        {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{/ifMaior}}
  {{!-- Se existir algum Endereco--}}
  {{#ifMaior body.totalEnderecos 0}}
  <div class="card shadow" style="margin-top: 20px;">
    <div class="card-header">
      Endereços
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-sm">
          <thead>
            <tr>
              <th scope="col">Endereço</th>
              <th scope="col">Bairro</th>
              <th scope="col">Cidade</th>
              <th scope="col">Estado</th>
            </tr>
          </thead>
          <tbody>
        {{#each body.enderecos}}
            <tr>
              <td><a href="{{base.urlBase}}{{url}}">{{nome}}</a></td>
              <td>{{bairro}}</td>
              <td>{{cidade}}</td>
              <td>{{estado}}</td>
            </tr>
        {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{/ifMaior}}
</div>